@mixin mobile-only {
  @media (max-width: 599px) {
    @content;
  }
}
@mixin tablet-portrait-up {
  @media (min-width: 600px) {
    @content;
  }
}
@mixin tablet-landscape-up {
  @media (min-width: 900px) {
    @content;
  }
}
@mixin desktop-up {
  @media (min-width: 1200px) {
    @content;
  }
}
@mixin wide-desktop-up {
  @media (min-width: 1800px) {
    @content;
  }
}
@mixin remove-default-styles {
  border-radius: 0;
  border: 0;
  outline: 0;
  box-shadow: none;
}